.newswaller {
    height: 360px;
    background-image: url(../img/news2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.newsletter-signup {
    max-width: 540px;
    margin: 0 auto;
    padding: 100px 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newswaller__title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 0;

    @media (max-width:500px) {
        font-size: 28px;
    }
}

.newswaller__desc {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 32px;

    @media (max-width:500px) {
        font-size: 14px;
    }
}

.news__form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    max-width: 488px;
    padding: 12px 0;
    margin: 0 26px;
    border-bottom: 1px solid #A6A9AA;


    button {
        font-size: 16px;
        line-height: 28px;
        color: #6C7275;
        font-weight: 500
    }

    input {
        font-size: 16px;
        line-height: 28px;
        font-weight: 500
    }
}

.newsletter-signup label {
    display: block;
    margin-bottom: 5px;
}

.newsletter-signup input[type="email"] {
    width: 100%;
}

.newsletter-signup input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}